<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.common.file.mapper.FileMapper">
 
   <select id="queryUserList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    select
	    <if test="distinct">
	      distinct
	    </if>
	   USER_ID as userId,
	   USER_CODE as userCode, 
	   USER_NAME as userName,
	   USER_PASSWORD as userPassword,
	   USER_ADDRESS as userAddress, 
	   USER_EMAIL as userEmil,
	   USER_PHONE as userPhone, 
	   USER_BIRTHDAY as userBirthDay, 
	   USER_JOINDATE as userJoinDate, 
	   USER_PHOTO  as userPhoto,
	   USER_TYPE as userType, 
	   USER_VALID as userValid,
	   companyInfoId as companyInfoId
		 FROM (SELECT ROW_NUMBER()
		 OVER(ORDER BY USER_ID ASC) AS rowid,* FROM
			     SYS_USER
			     where
			      <if test="companyInfoId != null">
			        companyInfoId = #{companyInfoId,jdbcType=BIT}
			      </if>
		)t WHERE t.rowid &gt;  ${offset} AND t.rowid  &lt;= ${limit}
	  </select>
	  <select id="queryUserCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	    select
	    count(1)
	    from SYS_USER
	   where
			      <if test="companyInfoId != null">
			        companyInfoId = #{companyInfoId,jdbcType=BIT}
			      </if>
	  </select>
	  
	  
	   <select id="queryUserById" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    select
	    
	   USER_ID as userId,
	   USER_CODE as userCode, 
	   USER_NAME as userName,
	   USER_PASSWORD as userPassword,
	   USER_ADDRESS as userAddress, 
	   USER_EMAIL as userEmil,
	   USER_PHONE as userPhone, 
	   USER_BIRTHDAY as userBirthDay, 
	   USER_JOINDATE as userJoinDate, 
	   USER_PHOTO  as userPhoto,
	   USER_TYPE as userType, 
	   USER_VALID as userValid,
	   companyInfoId as companyInfoId
	    from SYS_USER
	    where 1=1
	    and
	     USER_ID = #{userId,jdbcType=VARCHAR}
	  </select>
	 
<!-- 新配置结束 --> 
</mapper>